
  <header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <% if (!locals.loggedin) { %>
      <div id="tools">
        <a title="Click to log in" href="/account/login">My Account</a>
      </div>
    <% } %>
    <%if (locals.loggedin)  { %>
      <div id="tools">
        <a title="Click here to log out" href="/account/logout"> &nbsp;Logout</a>
        
        <a title="Welcome basic" href="/account/management">Welcome Basic</a>
      </div>
    <% } %>



    
  </header>

  