<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title<%- title %> | CSE 340 App</title> 
<link rel="stylesheet" href="/css/styles.css">
</head>

  <body>
   
    <h1>Welcome to CSE Motors! </h1>
    

      <div class="container">
        <img src="images/vehicles/delorean.jpg" alt="textblock" style="width:100%;">
        <div class="text-block">
          <h4>DMC Delorean</h4>
          <p>3 Cup holders</p>
          <p>Superman doors</p>
          <p>Fuzzy dice!</p>
          <button type="button">Own Today</button>
        </div>

      <div class="reviews">
        <h1>DMC Delorean Reviews</h1>
        <ul>
          <li>"So fast it's almost like traveling in time." (4/5)</li>
          <li>Coolest ride on the road. (4/5)</li>
          <li>"I'm feeling McFly!" (5/5)</li>
          <li>"The most futuristic ride of our day." (4.5/5)</li>
          <li>"80's livin and I love it!" (5/5)</li>
          </ul>


      </div>


        <div class="row">
          <h1>Delorean Upgrades</h1>

        <div class="row">
          <div class="column" style="background-color:#fb8153;">
           <img src="images/upgrades/flux-cap.png" alt="flux-cap">
            <a  class="Flux Capacitor" href="">Flux Capacitor</a> 
          </div>
         
          <div class="column" class="column" style="background-color:#fb8153;">
            <img src="images/upgrades/flame.jpg" alt="flux-cap">
            <a  class="Flames" href="">Flame Decals</a> 
          </div>
        
        <div class="row">
          <div class="column" style="background-color:#fb8153;">
            <img src="images/upgrades/bumper_sticker.jpg" alt="flux-cap">
            <a  class="Bumper sticker" href="">Bumper Stickers</a> 
          </div>
          <div class="column" style="background-color:#fb8153;">
            <img src="images/upgrades/hub-cap.jpg" alt="flux-cap">
            <a  class="Hub caps" href="">Hub Caps</a> 
          </div>
        </div>


      </div>
      

    


</body>
</html>