
html{
  box-sizing: border-box;
}
 
*, *:before, *:after{
  box-sizing: inherit;
}



 body {
   font-family: sans-serif;
   font-size: 25px;
   background-image: url("/images/site/checkerboard.jpg");
   min-width: 350px;
 }
 
 div#wrapper {
       width: 95%;
       border: #4b9ee0 solid 5px;
       border-radius: 10px;
       margin: 0 auto;
       margin-top: 20px;

   }
 
 main {
   max-width: 100%;
   background-color: #ffffff;
   
 }
 
 /********** Header *******/
 header {
   padding: 80px;
  background-color: #ffffff;
 }
   /********** My Account *******/
   div#tools a  {  
   color: inherit;
   text-decoration: none;
   float: right;
     /********** CSE Motors *******/
  }
   span.siteName a {
   text-decoration: none; 
   font-size: 40px;  
   font-family: sans-serif;
   color: inherit;    
   padding: 20px;

   }
  /********** Text Box *******/
  .text-block {
    width: 300px;
    padding: 50px;
    background: #ffffff7d;
    height: 390px;
    position: relative;
    bottom: 410px;
    padding-left: 10px;
    padding-right: 10px;
}
 
 
 header p {
   float: right;
 }
 
 .name-label {
   font-size: 0.6em;
   clear: both;
   float: right;
 }
 
  /********** Nav *******/
 nav {
   clear: both;
   font-size: 0.5em;
 }
 
 nav ul {
   display: flex;
   background-color: #4b9ee0;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   justify-content: space-evenly;
 }
 
 nav li {
   display: inline;
 }
 
 nav li a {
   display: block;
   color: #000000;
   text-align: center;
   padding: 10px 16px;
   text-decoration: none;
 }
 
 nav li a:hover {
   background-color: white;
   color: #3a3a3a;
 }
 
 /* Code for main */
 main {
   padding: 20px;
 }
 
 main img {
   max-width: 100%;
 }
 
 .text-block {
   position: relative;
 }
  /********** Text Box *******/
 .text-block h2 {
   color: #4b9ee0;
   height:10px;
   
 }
  /********** Text Box Button *******/
 .container p {
   color: #000000;
   padding-left: 10px;
   padding-right: 10px;
   font-weight: bold;
 }
 
  .container button {
   padding: 10px;
   text-align: center;
   max-width: 90%;
   color: #000000;
   background-color: #4b9ee0;
   font-size: 25px;
   border-radius: 4px;
   border-block-color: inherit;
 }
  /********** Reviews/Upgrades *******/
 .upgrade {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 15px;
   width: 40%;
 }
 
 div.box {
   text-align: center;
   color: #000000;
   background-color: #fb8153;
   border-radius: 4px;
   padding: 1.5rem;
   min-width: 200px;
 }
 
 .box img {
   display: block;
   margin: 0 auto;
 }

 
 div.item a {
  font-size: 18px;
  color: #000000;
  
 }


 
 #pass-label {
   color: white;
   font-size: 0.5em;
 }
 
 .reviews p {
   border: black solid 2px;
   margin-top: 10px;
 }
 
 /* Code for the footer */
 footer {
   text-align: left;
   font-size: 1.5em;
   padding-bottom: 20px;
   clear: both;
   padding:10px;
   background-color: white;
 }
 
  
 
 
  /********** Large screen *******/
 @media only screen and (min-width: 600px) {
   .page {
       width: 95%;
       border: #4b9ee0 solid 5px;
       border-radius: 10px;
       margin: 0 auto;
       margin-top: 20px;
   }
 
   nav {
       font-size: 1em;
    
   }
   nav ul {
    font-size: 1em;
   
}

   .container h2 {
       position: absolute;
       top: -28px;
       left: 10px;
   }
   
   .container p {
       top: 12px;
       left: 10px;
   }
 
   .button {
       position: absolute;
       top: 116px;
       left: 10px;
       width: 150px;
   }
  
  
  .homepage-flex {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-around;
 
  }
  

   footer {
   font-size: 20px;
   

  }
}

#inv-display {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 40px;
}
 
#inv-display li {
margin-bottom: 1.5em;
border: 1px #cbc6c640 solid;
list-style-type: none;
flex: 1 1 auto;
border-radius: 0px;
margin: 15px;
background: #cbc6c60d;
  
}
 
#inv-display li img {
max-width: 100%;
border-radius: 0px;

/* For vehicle display in classification view */
}
#inv-display {
flex-flow: row wrap;
justify-content: flex-start;
}

#inv-display h2{
font-size: 1rem;
}

#inv-display li {
max-width: 200px;
flex: 1 0 auto;
text-align: center;
height: 250px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

#inv-display div {
width: 100%;
}

#inv-display a {
font-size: 17px;
margin: 7px;

}
#inv-display div.namePrice {
font-size: 18px;
margin: auto;
height: 150px;




}

/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
.page {
   width: 80%;




}
}