
html{
  box-sizing: border-box;
}
 
*, *:before, *:after{
  box-sizing: inherit;
}



 body {
   font-family: sans-serif;
   font-size: 25px;
   background-image: url("/images/site/checkerboard.jpg");
 }
 
 div#wrapper {
       width: 95%;
       border: #4b9ee0 solid 5px;
       border-radius: 10px;
       margin: 0 auto;
       margin-top: 20px;

   }
 
 main {
   max-width: 100%;
   background-color: #ffffff;
   
 }
 
 /********** Header *******/
 header {
   padding: 80px;
  background-color: #ffffff;
 }
   /********** My Account *******/
   div#tools a  {  
   color: inherit;
   text-decoration: none;
   float: right;
     /********** CSE Motors *******/
  }
   span.siteName a {
   text-decoration: none; 
   font-size: 40px;  
   font-family: sans-serif;
   color: inherit;    
   padding: 20px;

   }
  /********** Text Box *******/
 .text-block   {
   width: 170px;
   padding: 50px;
   background:#ffffff7d;
   height:390px;
   position: relative;
   bottom: 410px;
   padding-left: 10px;
   padding-right: 10px;
     
 
 }
 
 header p {
   float: right;
 }
 
 .name-label {
   font-size: 0.6em;
   clear: both;
   float: right;
 }
 
  /********** Nav *******/
 nav {
   clear: both;
   font-size: 0.5em;
 }
 
 nav ul {
   display: flex;
   background-color: #fb8153;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   justify-content: space-evenly;
 }
 
 nav li {
   display: inline;
 }
 
 nav li a {
   display: block;
   color: #000000;
   text-align: center;
   padding: 10px 16px;
   text-decoration: none;
 }
 
 nav li a:hover {
   background-color: white;
   color: #3a3a3a;
 }
 
 /* Code for main */
 main {
   padding: 20px;
 }
 
 main img {
   max-width: 100%;
 }
 .homepage-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;

 }
 
 .text-block {
   position: relative;
 }
  /********** Text Box *******/
 .text-block h2 {
   color: #FFC107;
   font-size: 21px;
   height:10px;
   
 }
  /********** Text Box Button *******/
 .container p {
   color: #349efb;
   font-size: 18px;
   padding-left: 10px;
   padding-right: 10px;
 
 }
 
  .container button {
   padding: 8px;
   text-align: center;
   max-width: 90%;
   color: #000000;
   background-color: #fb8153;
   text-decoration: none;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 20px;
   border: none;
   border-radius: 4px;
 
 }
  /********** Reviews/Upgrades *******/
 .upgrade {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 15px;
   width: 40%;
 }
 
 div.box {
   text-align: center;
   color: #000000;
   background-color: #fb8153;
   border-radius: 4px;
   padding: 1.5rem;
   min-width: 200px;
 }
 
 .box img {
   display: block;
   margin: 0 auto;
 }

 
 div.item a {
  font-size: 18px;
  color: #000000;
  
 }


 
 #pass-label {
   color: white;
   font-size: 0.5em;
 }
 
 .reviews p {
   border: black solid 2px;
   margin-top: 10px;
 }
 
 /* Code for the footer */
 footer {
   text-align: left;
   font-size: 1.5em;
   padding-bottom: 20px;
   clear: both;
   padding:10px;
   background-color: white;
 }
 
  
 
 
  /********** Small screen *******/
 @media only screen and (min-width: 37em) {
   .page {
       width: 95%;
       border: #4b9ee0 solid 5px;
       border-radius: 10px;
       margin: 0 auto;
       margin-top: 20px;
   }
 
   nav {
       font-size: 1em;
   }
 
   .container h2 {
       position: absolute;
       top: -28px;
       left: 10px;
   }
   
   .container p {
       top: 12px;
       left: 10px;
   }
 
   .button {
       position: absolute;
       top: 116px;
       left: 10px;
       width: 150px;
   }
 
   footer {
       font-size: 20px;
   }
 }
 
 /* 64em is also 1028px when basefont is 16px */
 @media only screen and (min-width: 64rem) {
   .page {
       width: 80%;
   }
 
   nav {
       font-size: 18px;
   }
  }